<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - demo</title>
    {% else %}
    <title>Welcome to flask demo</title>
    {% endif %}
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
  <body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    {% if g.user.is_authenticated %}
                        <li role="presentation"> <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <li role="presentation"><a href="{{ url_for('signup')}}">Sign Up</a>
                        </li>
                        <li role="presentation"><a href="{{ url_for('login')}}">Log In {{current_user.username}}</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>

  </body>
</html>